In [2]:
import os
os.chdir('C:\\Users\\mdishakk\\Downloads')


import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('homeprices.csv')
df

   area  price
0  2600  55000
1  3000  56500
2  3200  61000
3  3600  68000
4  4000  72000
5  5000  71000
6  2500  40000
7  2700  38000
8  1200  17000
9  1000  17900

In [25]:
m=0
c=0
learningrate=0.001
x = df.area
y=df.price
n=int(len(x))
iterations = 10

for i in range(iterations):
    ypred = m*x+c
    dm = (-2/n)*sum(x*(y-ypred))
    dc = (-2/n)*sum(y-ypred)
    
    m = m - (learningrate - dm)
    c = c - (learningrate - dc)
    
    print(m,c)

-327280000.001 -99280.001
-6279849866431993.0 -1885133197125.7637
-1.204977763753145e+23 -3.6171940886047977e+19
-2.3121116619376906e+30 -6.940673004376342e+26
-4.436480487919972e+37 -1.3317765254963e+34
-8.51271997097217e+44 -2.5554131605748615e+41
-1.6334209403491377e+52 -4.903327469903918e+48
-3.1342085461156822e+59 -9.408506087409272e+55
-6.013920213637578e+66 -1.8053044048178156e+63
-1.1539511747175143e+74 -3.464018584646566e+70

In [26]:
xrandom = 10
ypredicted = m*xrandom+c
ypredicted

-1.1539858149033606e+75

In [27]:
#used a different dataset, so it doesn't fit well