In [3]:
import os
os.chdir('C:\\Users\\mdishakk\\Downloads')


import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_excel('car data.xlsx')
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [4]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [5]:
df.experience.median()

5.0

In [6]:
exp_fit=df.experience.median()
exp_fit

5.0

In [9]:
df.experience=df.experience.fillna(exp_fit)
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [10]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [14]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression()

In [15]:
reg.predict([[160,10,5]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.37146872])

In [17]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [18]:
reg.intercept_

33.410000910436

In [19]:
#validating manually

0.33*160+1.61*10+5*-6.2+33.41

71.31