In [22]:
import os
os.chdir('C:\\Users\\mdishakk\\Downloads')


import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('emails.csv')
df

x=df[['text']]
y=df[['spam']]

In [23]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x_train=cv.fit_transform(xtrain)
x_train.toarray()

array([[1]], dtype=int64)

In [24]:
xtrain

                                                   text
4876  Subject: re :  hari ,  i shall send you a repr...
962   Subject: cell phone weather service for outdoo...
917   Subject: medzz services  hello , welcome to ph...
1122  Subject: perfect logo charset = koi 8 - r " > ...
533   Subject: winning notification ! !  bank giro l...
...                                                 ...
3563  Subject: re : my son  vince ,  i left a messag...
3755  Subject: re : bullet points  hi vince ,  thank...
4665  Subject: thank you .  i would like to take thi...
2770  Subject: re : resume  how did it go with rensh...
3295  Subject: vince ,  i ' ve been out of the offic...

[4584 rows x 1 columns]

In [25]:
y

     spam
0       1
1       1
2       1
3       1
4       1
...   ...
5725    0
5726    0
5727    0
5728    0
5729    0

[5730 rows x 1 columns]

In [26]:
x

                                                   text
0     Subject: naturally irresistible your corporate...
1     Subject: the stock trading gunslinger  fanny i...
2     Subject: unbelievable new homes made easy  im ...
3     Subject: 4 color printing special  request add...
4     Subject: do not have money , get software cds ...
...                                                 ...
5725  Subject: re : research and development charges...
5726  Subject: re : receipts from visit  jim ,  than...
5727  Subject: re : enron case study update  wow ! a...
5728  Subject: re : interest  david ,  please , call...
5729  Subject: news : aurora 5 . 2 update  aurora ve...

[5730 rows x 1 columns]

In [27]:
x_train

<1x1 sparse matrix of type '<class 'numpy.int64'>'
	with 1 stored elements in Compressed Sparse Row format>

In [28]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train,ytrain)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Input contains NaN

In [19]:
ytrain

5442    0
3356    0
1443    0
1910    0
3363    0
       ..
1069    1
3934    0
3816    0
1348    1
1431    0
Name: spam, Length: 4584, dtype: object